<div class="container">
    <h1 class="omc__hidden__content">Modify register</h1>
    <div class="row omc__edit__register__form__wrapper mt-5">
        <h3 class="mb-5">Modify register</h3>
        <form [formGroup]="editRegisterForm" (ngSubmit)="editRegister()">
            <div class="form-group mb-3">
                <input type="text" class="form-control omc__edit__register__form__uid__input" id="userIdInput" formControlName="user" readonly>
            </div>
            <div class="form-group mb-3">
                <textarea class="form-control omc__edit__register__form__textarea" id="titleInput" cols="30" rows="3" placeholder="Write here the title of your post" formControlName="title"></textarea>
            </div>
            <div class="form-group form-check mb-3">
                <select class="form-select omc__edit__register__form__select__input" name="completedSelect" id="comletedSelect" formControlName="completed">
                <option value="default" hidden>Choose an option</option>
                <option value="completed">Completed</option>
                <option value="no completed">Not completed</option>
              </select>
            </div>
            <button type="submit" class="btn btn-outline-primary omc__new__register__form__submit">Update register</button>
        </form>
    </div>
</div>
